<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Series</title>
    </head>
    <body>
        <h1>Series</h1>

        <main>
            <h1><%= series.name %></h1>
            <img src="<%= series.image %>" alt="<%= series.name %>" />
            <p><%= series.description %></p>

            <div>
                <form method="POST" action="/delete">
                    <div>
                        <input type="hidden" value="<%= series.id %>" name="seriesId" />
                        <button>Delete</button>
                    </div>
                </form>
            </div>
            <div>
                <a href="/edit-series/<%= series.id %>?edit=true">Edit</a>
            </div>
        </main>
    </body>
</html>